.activity {
    h3 {
        font-size: 20px;
        color: rgb(0, 132, 137);
    }

    &__overview {
        margin: 40px 0;
        display: flex;
        justify-content: space-between;

        @include less-than-ipad {
            display: block;
        }

        &--exercises,
        &--chart {
            position: relative;
            display: inline-block;
            min-height: 350px;
            width: 48%;
            border: 1px solid $athens-gray;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            background: $white;
            text-align: center;

            @include less-than-ipad {
                width: 100%;
                display: block;
                margin: 30px 0;
            }

            h3,
            h4 {
                padding: 5px 30px 15px 30px;
                color: $limed-spruce;
                font-size: 25px;
                text-align: left;
                margin-bottom: 0;
                font-weight: normal;
            }

            span.subhead {
                top: 270px;
                position: absolute;
                font-size: 20px;
                color: $cold-purple;
                left: 0;
                right: 0;
            }
        }

        &--head {
            width: 70%;
            margin: 20px auto;
        }

        &--exercises {
            .add__exercise {
                &--input {
                    display: flex;
                    padding: 5px 30px;
                    justify-content: space-between;
                }

                &--input-wrapper {
                    width: 45%;
                    display: flex;
                    justify-content: space-between;
                }

                &--save {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}
