@-webkit-keyframes loading-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes loading-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes loading-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loading-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes placeholder-animation {
    0% {
        background-position: 99% 0%
    }
    50% {
        background-position: 2% 100%
    }
    100% {
        background-position: 99% 0%
    }
}

@-ms-keyframes placeholder-animation {
    0% {
        background-position: 99% 0%
    }
    50% {
        background-position: 2% 100%
    }
    100% {
        background-position: 99% 0%
    }
}

@-moz-keyframes placeholder-animation {
    0% {
        background-position: 99% 0%
    }
    50% {
        background-position: 2% 100%
    }
    100% {
        background-position: 99% 0%
    }
}

@keyframes placeholder-animation {
    0% {
        background-position: 99% 0%
    }
    50% {
        background-position: 2% 100%
    }
    100% {
        background-position: 99% 0%
    }
}