.calendar {
    &__container {
        width: 100%;
        border: 1px solid $mystic;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background: $white;
    }

    h4 {
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }

    &__head {
        display: flex;

        span {
            opacity: .8;
            width: 14.3%;
            text-align: center;
            font-weight: bold;
            padding: 25px 0;
        }
    }

    &__toggle--month {
        text-align: center;

        i {
            display: inline-block;
            cursor: pointer;
            vertical-align: sub;
            font-size: 25px;
            opacity: .8;
            transition: .2s;

            &:hover {
                opacity: .5;
            }
        }

        h2 {
            display: inline-block;
            padding: 10px;
            margin-bottom: 0;
        }
    }

    .day {
        border: 1px solid $mystic;
        display: inline-block;
        box-sizing: border-box;
        width: 14.285714285714285714285714285714%;
        height: 150px;

        &.inactive {
            background: $polar;
            opacity: .65  
        }

        &.today {
            color: $burnt-sienna;
        }
    }

    .number {
        padding: 15px;
        opacity: .8;
        font-weight: bold;
        box-sizing: border-box;
    }
}