.calendar {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__container {
        display: inline-block;
        //border: 1px solid $athens-gray;
        box-shadow: 0 8px 32px 0 rgba(0,0,0,.1);
        border-radius: 3px;
        background: $white;
    }

    h4 {
        text-align: center;
        margin: 0 270px 20px 0;
    }

    &__head {
        display: flex;
        border: 1px solid $athens-gray;
        border-bottom: none;

        span {
            opacity: .8;
            width: 14.3%;
            text-align: center;
            font-weight: bold;
            padding: 15px 0;
        }
    }

    &__toggle--month {
        text-align: center;
        margin-right: 270px;

        i {
            display: inline-block;
            cursor: pointer;
            vertical-align: sub;
            font-size: 25px;
            opacity: .8;
            transition: .2s;

            &:hover {
                opacity: .5;
            }
        }

        h2 {
            display: inline-block;
            padding: 10px;
            margin: 0;
        }
    }

    .day {
        position: relative;
        border: 1px solid $mystic;
        display: inline-block;
        box-sizing: border-box;
        width: 14.285714285714285714285714285714%;
        height: 150px;

        &.loading {
            margin-bottom: -7px;

            .number {
                width: 20px;
                height: 20px;
                padding: 0;
                position: absolute;
                top: 15px;
                left: 15px;
                border-radius: 3px;

                @include placeholder;
            }

            .circle {
                height: 90px;
                width: 90px;
                margin: 0 auto;
                margin-top: 30px;
                border-radius: 50%;

                @include placeholder;
            }

            .info {
                position: absolute;
                bottom: 10px;
                right: 10px;
                height: 20px;
                width: 20px;
                border-radius: 50%;

                @include placeholder;
            }
        }

        &__overview {
            margin: -20px auto;
        }

        &.inactive {
            background: $polar;
            opacity: .65;
        }

        &.today {
            color: $burnt-sienna;
        }

        .icon-info {
            opacity: .8;
            cursor: pointer;
            position: absolute;
            color: $limed-spruce;
            font-size: 20px;
            bottom: 0;
            right: 0;
            padding: 10px;

            &.hidden {
                display: none;
            }

            &:hover {
                color: $burnt-sienna;
            }
        }
    }

    .number {
        padding: 15px;
        opacity: .8;
        font-weight: bold;
        box-sizing: border-box;
    }

    .exercise__icon {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.legend {
    display: inline-block;
    border: 1px solid $athens-gray;
    height: 300px;
    margin: 0 0 0 30px;
    min-width: 240px;
    background: $white;
    vertical-align: top;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.1);

    &__header {
        padding: 15px 20px;
        font-size: 17px;
        font-weight: bold;
        border-bottom: 1px solid $athens-gray;
        background-image: linear-gradient(to top, $catskill-white, $white)
    }

    &__body {
        padding: 20px;
        font-size: 15px;

        &--item {
            display: block;
            margin: 5px 0;

            i {
                display: inline-block;
                font-size: 20px;
                padding: 10px 0;
                color: $limed-spruce
            }

            img {
                height: 20px;
                width: 20px;
                vertical-align: text-bottom;
            }
        }

        &--name {
            display: inline-block;
            padding: 0 10px;
            vertical-align: text-bottom
        }

        &--subhead {
            margin: 10px 0;
            color: $regent-gray;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;
        }

        &--calories,
        &--protein,
        &--fat,
        &--carbs {
            border-radius: 3px;
            height: 16px;
            width: 16px;
            display: inline-block;
        }

        &--calories {
            background: $medium-purple;
        }

        &--protein {
            background: $froly
        }

        &--carbs {
            background: $malibu
        }

        &--fat {
            background: $aquamarine
        }
    }
}
