.calendar {
    &__wrapper {
        display: flex;

        @include less-than-ipad {
            display: block;
        }
    }

    &__container {
        display: inline-block;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background: $white;

        @include less-than-ipad {
            // display: grid;
            // grid-template: repeat(6, 1fr) / repeat(7, 1fr);
            // grid-auto-flow: dense;
            box-shadow: none;
        }
    }

    h4 {
        text-align: center;
        margin: 0 270px 20px 0;

        @include less-than-ipad {
            margin: 5px auto;
        }
    }

    &__head {
        display: flex;
        border: 1px solid $athens-gray;
        border-bottom: none;
        background: $white;

        span {
            opacity: 0.8;
            width: 14.3%;
            text-align: center;
            font-weight: bold;
            padding: 15px 0;
        }
    }

    .day {
        position: relative;
        border: 1px solid $mystic;
        display: inline-block;
        box-sizing: border-box;
        width: 14.2857%;
        height: 150px;

        @include less-than-ipad {
            height: 60px;
        }

        &.inactive {
            background: $polar;
            opacity: 0.65;
        }

        &.today {
            color: $burnt-sienna;
        }

        .icon-info {
            opacity: 0.8;
            cursor: pointer;
            position: absolute;
            color: $limed-spruce;
            font-size: 20px;
            bottom: 10px;
            right: 10px;

            @include less-than-ipad {
                display: none;
            }

            &.hidden {
                display: none;
            }

            &:hover {
                color: $burnt-sienna;
            }
        }
    }

    .number {
        padding: 15px;
        opacity: 0.8;
        font-weight: bold;
        box-sizing: border-box;

        @include less-than-ipad {
            padding: 0;
            text-align: center;
        }
    }

    .exercise__icon {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.legend {
    display: inline-block;
    border: 1px solid $athens-gray;
    height: 370px;
    margin: 0 0 0 30px;
    min-width: 240px;
    background: $white;
    vertical-align: top;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

    @include less-than-ipad {
        display: none;
    }

    &__header {
        padding: 15px 20px;
        font-size: 17px;
        font-weight: bold;
        border-bottom: 1px solid $athens-gray;
        background-image: linear-gradient(to top, $catskill-white, $white);
    }

    &__body {
        padding: 20px;
        font-size: 15px;

        &--item {
            display: block;
            margin: 5px 0;

            .icon-info {
                display: inline-block;
                font-size: 20px;
                color: $limed-spruce;
            }

            img {
                height: 20px;
                width: 20px;
                vertical-align: text-bottom;
            }
        }

        &--name {
            display: inline-block;
            padding: 0 10px;
            vertical-align: text-bottom;
        }

        &--subhead {
            margin: 10px 0;
            color: $regent-gray;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;
        }

        &--calories,
        &--protein,
        &--fat,
        &--carbs {
            border-radius: 3px;
            height: 16px;
            width: 16px;
            display: inline-block;
        }

        &--calories {
            background: $medium-purple;
        }

        &--protein {
            background: $froly;
        }

        &--carbs {
            background: $malibu;
        }

        &--fat {
            background: $aquamarine;
        }
    }
}
