/* stylelint-disable */
$icomoon-font-path: '../fonts' !default;

$icon-activity: '\e945';
$icon-airplay: '\e946';
$icon-alert-circle: '\e947';
$icon-alert-octagon: '\e948';
$icon-alert-triangle: '\e949';
$icon-aperture: '\e94f';
$icon-arrow-down: '\e951';
$icon-arrow-down-circle: '\e952';
$icon-arrow-down-left: '\e953';
$icon-arrow-down-right: '\e954';
$icon-arrow-left: '\e955';
$icon-arrow-left-circle: '\e956';
$icon-arrow-right: '\e957';
$icon-arrow-right-circle: '\e958';
$icon-arrow-up: '\e959';
$icon-arrow-up-circle: '\e95a';
$icon-arrow-up-left: '\e95b';
$icon-arrow-up-right: '\e95c';
$icon-at-sign: '\e95d';
$icon-award: '\e95e';
$icon-bell: '\e963';
$icon-bell-off: '\e964';
$icon-bookmark: '\e969';
$icon-briefcase: '\e96b';
$icon-calendar: '\e96c';
$icon-cast: '\e96f';
$icon-check: '\e970';
$icon-check-circle: '\e971';
$icon-check-square: '\e972';
$icon-chevron-down: '\e973';
$icon-chevron-left: '\e974';
$icon-chevron-right: '\e975';
$icon-chevron-up: '\e976';
$icon-chevrons-down: '\e977';
$icon-chevrons-left: '\e978';
$icon-chevrons-right: '\e979';
$icon-chevrons-up: '\e97a';
$icon-chrome: '\e97b';
$icon-circle: '\e97c';
$icon-clipboard: '\e97d';
$icon-clock: '\e97e';
$icon-cloud: '\e97f';
$icon-cloud-drizzle: '\e980';
$icon-cloud-lightning: '\e981';
$icon-cloud-off: '\e982';
$icon-cloud-rain: '\e983';
$icon-cloud-snow: '\e984';
$icon-code: '\e985';
$icon-copy: '\e989';
$icon-corner-down-left: '\e98a';
$icon-corner-down-right: '\e98b';
$icon-corner-left-down: '\e98c';
$icon-corner-left-up: '\e98d';
$icon-corner-right-down: '\e98e';
$icon-corner-right-up: '\e98f';
$icon-corner-up-left: '\e990';
$icon-corner-up-right: '\e991';
$icon-cpu: '\e992';
$icon-credit-card: '\e993';
$icon-crop: '\e994';
$icon-crosshair: '\e995';
$icon-database: '\e996';
$icon-delete2: '\e997';
$icon-disc: '\e998';
$icon-dollar-sign: '\e999';
$icon-download: '\e99a';
$icon-download-cloud: '\e99b';
$icon-droplet: '\e99c';
$icon-edit: '\e99d';
$icon-edit-2: '\e99e';
$icon-edit-3: '\e99f';
$icon-external-link: '\e9a0';
$icon-eye: '\e9a1';
$icon-eye-off: '\e9a2';
$icon-facebook: '\e9a3';
$icon-fast-forward: '\e9a4';
$icon-feather: '\e9a5';
$icon-file: '\e9a6';
$icon-file-minus: '\e9a7';
$icon-file-plus: '\e9a8';
$icon-file-text: '\e9a9';
$icon-film: '\e9aa';
$icon-filter: '\e9ab';
$icon-flag: '\e9ac';
$icon-folder: '\e9ad';
$icon-folder-minus: '\e9ae';
$icon-folder-plus: '\e9af';
$icon-gift: '\e9b0';
$icon-git-branch: '\e9b1';
$icon-git-commit: '\e9b2';
$icon-git-merge: '\e9b3';
$icon-git-pull-request: '\e9b4';
$icon-github: '\e9b5';
$icon-globe: '\e9b7';
$icon-grid: '\e9b8';
$icon-hard-drive: '\e9b9';
$icon-hash: '\e9ba';
$icon-headphones: '\e9bb';
$icon-heart: '\e9bc';
$icon-help-circle: '\e9bd';
$icon-home: '\e9be';
$icon-image: '\e9bf';
$icon-inbox: '\e9c0';
$icon-info: '\e9c1';
$icon-instagram: '\e9c2';
$icon-italic: '\e9c3';
$icon-layers: '\e9c4';
$icon-layout: '\e9c5';
$icon-life-buoy: '\e9c6';
$icon-link: '\e9c7';
$icon-linkedin: '\e9c9';
$icon-lock: '\e9ca';
$icon-log-in: '\e9cb';
$icon-log-out: '\e9cc';
$icon-mail: '\e9cd';
$icon-map: '\e9ce';
$icon-map-pin: '\e9cf';
$icon-maximize: '\e9d0';
$icon-maximize-2: '\e9d1';
$icon-menu: '\e9d2';
$icon-message-circle: '\e9d3';
$icon-message-square: '\e9d4';
$icon-minimize: '\e9d5';
$icon-minimize-2: '\e9d6';
$icon-minus: '\e9d7';
$icon-minus-circle: '\e9d8';
$icon-monitor: '\e9d9';
$icon-moon: '\e9da';
$icon-more-horizontal: '\e9db';
$icon-more-vertical: '\e9dc';
$icon-move: '\e9dd';
$icon-music: '\e9de';
$icon-navigation: '\e9df';
$icon-navigation-2: '\e9e0';
$icon-octagon: '\e9e1';
$icon-package: '\e9e2';
$icon-paperclip: '\e9e3';
$icon-pause: '\e9e4';
$icon-pause-circle: '\e9e5';
$icon-percent: '\e9e6';
$icon-pie-chart: '\e9ee';
$icon-play: '\e9ef';
$icon-play-circle: '\e9f0';
$icon-plus: '\e9f1';
$icon-plus-circle: '\e9f2';
$icon-plus-square: '\e9f3';
$icon-pocket: '\e9f4';
$icon-power: '\e9f5';
$icon-printer: '\e9f6';
$icon-radio: '\e9f7';
$icon-refresh-ccw: '\e9f8';
$icon-refresh-cw: '\e9f9';
$icon-repeat: '\e9fa';
$icon-rewind: '\e9fb';
$icon-rotate-ccw: '\e9fc';
$icon-rotate-cw: '\e9fd';
$icon-search: '\ea01';
$icon-send: '\ea02';
$icon-server: '\ea03';
$icon-settings: '\ea04';
$icon-share: '\ea05';
$icon-share-2: '\ea06';
$icon-shield: '\ea07';
$icon-shopping-bag: '\ea08';
$icon-shopping-cart: '\ea09';
$icon-shuffle: '\ea0a';
$icon-sidebar: '\ea0b';
$icon-skip-back: '\ea0c';
$icon-skip-forward: '\ea0d';
$icon-slash: '\ea0f';
$icon-smartphone: '\ea11';
$icon-speaker: '\ea12';
$icon-star: '\ea14';
$icon-stop-circle: '\ea15';
$icon-sun: '\ea16';
$icon-sunrise: '\ea17';
$icon-sunset: '\ea18';
$icon-tag: '\ea1a';
$icon-target: '\ea1b';
$icon-terminal: '\ea1c';
$icon-thermometer: '\ea1d';
$icon-thumbs-down: '\ea1e';
$icon-thumbs-up: '\ea1f';
$icon-trash: '\ea22';
$icon-trash-2: '\ea23';
$icon-trending-down: '\ea24';
$icon-trending-up: '\ea25';
$icon-triangle: '\ea26';
$icon-truck: '\ea27';
$icon-tv: '\ea28';
$icon-twitter: '\ea29';
$icon-umbrella: '\ea2a';
$icon-unlock: '\ea2b';
$icon-upload: '\ea2c';
$icon-upload-cloud: '\ea2d';
$icon-user: '\e944';
$icon-user-check: '\ea2e';
$icon-user-minus: '\ea2f';
$icon-user-plus: '\ea30';
$icon-user-x: '\ea31';
$icon-users: '\ea32';
$icon-watch: '\ea33';
$icon-wifi: '\ea34';
$icon-wind: '\ea36';
$icon-x: '\ea37';
$icon-x-circle: '\ea38';
$icon-x-square: '\ea39';
$icon-youtube: '\ea3a';
$icon-zoom-in: '\ea3d';
$icon-zoom-out: '\ea3e';

@font-face {
    font-family: 'fitness';
    src: url('#{$icomoon-font-path}/fitness.eot?mczggh');
    src: url('#{$icomoon-font-path}/fitness.eot?mczggh#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/fitness.ttf?mczggh') format('truetype'),
        url('#{$icomoon-font-path}/fitness.woff?mczggh') format('woff'),
        url('#{$icomoon-font-path}/fitness.svg?mczggh#fitness') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fitness' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-activity {
    &:before {
        content: $icon-activity;
    }
}
.icon-airplay {
    &:before {
        content: $icon-airplay;
    }
}
.icon-alert-circle2 {
    &:before {
        content: $icon-alert-circle;
    }
}
.icon-alert-octagon {
    &:before {
        content: $icon-alert-octagon;
    }
}
.icon-alert-triangle {
    &:before {
        content: $icon-alert-triangle;
    }
}
.icon-aperture {
    &:before {
        content: $icon-aperture;
    }
}
.icon-arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}
.icon-arrow-down-circle {
    &:before {
        content: $icon-arrow-down-circle;
    }
}
.icon-arrow-down-left {
    &:before {
        content: $icon-arrow-down-left;
    }
}
.icon-arrow-down-right {
    &:before {
        content: $icon-arrow-down-right;
    }
}
.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}
.icon-arrow-left-circle {
    &:before {
        content: $icon-arrow-left-circle;
    }
}
.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}
.icon-arrow-right-circle {
    &:before {
        content: $icon-arrow-right-circle;
    }
}
.icon-arrow-up {
    &:before {
        content: $icon-arrow-up;
    }
}
.icon-arrow-up-circle {
    &:before {
        content: $icon-arrow-up-circle;
    }
}
.icon-arrow-up-left {
    &:before {
        content: $icon-arrow-up-left;
    }
}
.icon-arrow-up-right {
    &:before {
        content: $icon-arrow-up-right;
    }
}
.icon-at-sign {
    &:before {
        content: $icon-at-sign;
    }
}
.icon-award {
    &:before {
        content: $icon-award;
    }
}
.icon-bell {
    &:before {
        content: $icon-bell;
    }
}
.icon-bell-off {
    &:before {
        content: $icon-bell-off;
    }
}
.icon-bookmark {
    &:before {
        content: $icon-bookmark;
    }
}
.icon-briefcase {
    &:before {
        content: $icon-briefcase;
    }
}
.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-cast {
    &:before {
        content: $icon-cast;
    }
}
.icon-check {
    &:before {
        content: $icon-check;
    }
}
.icon-check-circle {
    &:before {
        content: $icon-check-circle;
    }
}
.icon-check-square {
    &:before {
        content: $icon-check-square;
    }
}
.icon-chevron-down {
    &:before {
        content: $icon-chevron-down;
    }
}
.icon-chevron-left {
    &:before {
        content: $icon-chevron-left;
    }
}
.icon-chevron-right {
    &:before {
        content: $icon-chevron-right;
    }
}
.icon-chevron-up {
    &:before {
        content: $icon-chevron-up;
    }
}
.icon-chevrons-down {
    &:before {
        content: $icon-chevrons-down;
    }
}
.icon-chevrons-left {
    &:before {
        content: $icon-chevrons-left;
    }
}
.icon-chevrons-right {
    &:before {
        content: $icon-chevrons-right;
    }
}
.icon-chevrons-up {
    &:before {
        content: $icon-chevrons-up;
    }
}
.icon-chrome {
    &:before {
        content: $icon-chrome;
    }
}
.icon-circle {
    &:before {
        content: $icon-circle;
    }
}
.icon-clipboard {
    &:before {
        content: $icon-clipboard;
    }
}
.icon-clock {
    &:before {
        content: $icon-clock;
    }
}
.icon-cloud {
    &:before {
        content: $icon-cloud;
    }
}
.icon-cloud-drizzle {
    &:before {
        content: $icon-cloud-drizzle;
    }
}
.icon-cloud-lightning {
    &:before {
        content: $icon-cloud-lightning;
    }
}
.icon-cloud-off {
    &:before {
        content: $icon-cloud-off;
    }
}
.icon-cloud-rain {
    &:before {
        content: $icon-cloud-rain;
    }
}
.icon-cloud-snow {
    &:before {
        content: $icon-cloud-snow;
    }
}
.icon-code {
    &:before {
        content: $icon-code;
    }
}
.icon-copy {
    &:before {
        content: $icon-copy;
    }
}
.icon-corner-down-left {
    &:before {
        content: $icon-corner-down-left;
    }
}
.icon-corner-down-right {
    &:before {
        content: $icon-corner-down-right;
    }
}
.icon-corner-left-down {
    &:before {
        content: $icon-corner-left-down;
    }
}
.icon-corner-left-up {
    &:before {
        content: $icon-corner-left-up;
    }
}
.icon-corner-right-down {
    &:before {
        content: $icon-corner-right-down;
    }
}
.icon-corner-right-up {
    &:before {
        content: $icon-corner-right-up;
    }
}
.icon-corner-up-left {
    &:before {
        content: $icon-corner-up-left;
    }
}
.icon-corner-up-right {
    &:before {
        content: $icon-corner-up-right;
    }
}
.icon-cpu {
    &:before {
        content: $icon-cpu;
    }
}
.icon-credit-card {
    &:before {
        content: $icon-credit-card;
    }
}
.icon-crop {
    &:before {
        content: $icon-crop;
    }
}
.icon-crosshair {
    &:before {
        content: $icon-crosshair;
    }
}
.icon-database {
    &:before {
        content: $icon-database;
    }
}
.icon-delete2 {
    &:before {
        content: $icon-delete2;
    }
}
.icon-disc {
    &:before {
        content: $icon-disc;
    }
}
.icon-dollar-sign {
    &:before {
        content: $icon-dollar-sign;
    }
}
.icon-download {
    &:before {
        content: $icon-download;
    }
}
.icon-download-cloud {
    &:before {
        content: $icon-download-cloud;
    }
}
.icon-droplet {
    &:before {
        content: $icon-droplet;
    }
}
.icon-edit {
    &:before {
        content: $icon-edit;
    }
}
.icon-edit-2 {
    &:before {
        content: $icon-edit-2;
    }
}
.icon-edit-3 {
    &:before {
        content: $icon-edit-3;
    }
}
.icon-external-link {
    &:before {
        content: $icon-external-link;
    }
}
.icon-eye {
    &:before {
        content: $icon-eye;
    }
}
.icon-eye-off {
    &:before {
        content: $icon-eye-off;
    }
}
.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-fast-forward {
    &:before {
        content: $icon-fast-forward;
    }
}
.icon-feather {
    &:before {
        content: $icon-feather;
    }
}
.icon-file {
    &:before {
        content: $icon-file;
    }
}
.icon-file-minus {
    &:before {
        content: $icon-file-minus;
    }
}
.icon-file-plus {
    &:before {
        content: $icon-file-plus;
    }
}
.icon-file-text {
    &:before {
        content: $icon-file-text;
    }
}
.icon-film {
    &:before {
        content: $icon-film;
    }
}
.icon-filter {
    &:before {
        content: $icon-filter;
    }
}
.icon-flag {
    &:before {
        content: $icon-flag;
    }
}
.icon-folder {
    &:before {
        content: $icon-folder;
    }
}
.icon-folder-minus {
    &:before {
        content: $icon-folder-minus;
    }
}
.icon-folder-plus {
    &:before {
        content: $icon-folder-plus;
    }
}
.icon-gift {
    &:before {
        content: $icon-gift;
    }
}
.icon-git-branch {
    &:before {
        content: $icon-git-branch;
    }
}
.icon-git-commit {
    &:before {
        content: $icon-git-commit;
    }
}
.icon-git-merge {
    &:before {
        content: $icon-git-merge;
    }
}
.icon-git-pull-request {
    &:before {
        content: $icon-git-pull-request;
    }
}
.icon-github {
    &:before {
        content: $icon-github;
    }
}
.icon-globe {
    &:before {
        content: $icon-globe;
    }
}
.icon-grid {
    &:before {
        content: $icon-grid;
    }
}
.icon-hard-drive {
    &:before {
        content: $icon-hard-drive;
    }
}
.icon-hash {
    &:before {
        content: $icon-hash;
    }
}
.icon-headphones {
    &:before {
        content: $icon-headphones;
    }
}
.icon-heart {
    &:before {
        content: $icon-heart;
    }
}
.icon-help-circle {
    &:before {
        content: $icon-help-circle;
    }
}
.icon-home {
    &:before {
        content: $icon-home;
    }
}
.icon-image {
    &:before {
        content: $icon-image;
    }
}
.icon-inbox {
    &:before {
        content: $icon-inbox;
    }
}
.icon-info {
    &:before {
        content: $icon-info;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-italic {
    &:before {
        content: $icon-italic;
    }
}
.icon-layers {
    &:before {
        content: $icon-layers;
    }
}
.icon-layout {
    &:before {
        content: $icon-layout;
    }
}
.icon-life-buoy {
    &:before {
        content: $icon-life-buoy;
    }
}
.icon-link {
    &:before {
        content: $icon-link;
    }
}
.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}
.icon-lock {
    &:before {
        content: $icon-lock;
    }
}
.icon-log-in {
    &:before {
        content: $icon-log-in;
    }
}
.icon-log-out {
    &:before {
        content: $icon-log-out;
    }
}
.icon-mail {
    &:before {
        content: $icon-mail;
    }
}
.icon-map {
    &:before {
        content: $icon-map;
    }
}
.icon-map-pin {
    &:before {
        content: $icon-map-pin;
    }
}
.icon-maximize {
    &:before {
        content: $icon-maximize;
    }
}
.icon-maximize-2 {
    &:before {
        content: $icon-maximize-2;
    }
}
.icon-menu {
    &:before {
        content: $icon-menu;
    }
}
.icon-message-circle {
    &:before {
        content: $icon-message-circle;
    }
}
.icon-message-square {
    &:before {
        content: $icon-message-square;
    }
}
.icon-minimize {
    &:before {
        content: $icon-minimize;
    }
}
.icon-minimize-2 {
    &:before {
        content: $icon-minimize-2;
    }
}
.icon-minus {
    &:before {
        content: $icon-minus;
    }
}
.icon-minus-circle {
    &:before {
        content: $icon-minus-circle;
    }
}
.icon-monitor {
    &:before {
        content: $icon-monitor;
    }
}
.icon-moon {
    &:before {
        content: $icon-moon;
    }
}
.icon-more-horizontal {
    &:before {
        content: $icon-more-horizontal;
    }
}
.icon-more-vertical {
    &:before {
        content: $icon-more-vertical;
    }
}
.icon-move {
    &:before {
        content: $icon-move;
    }
}
.icon-music {
    &:before {
        content: $icon-music;
    }
}
.icon-navigation {
    &:before {
        content: $icon-navigation;
    }
}
.icon-navigation-2 {
    &:before {
        content: $icon-navigation-2;
    }
}
.icon-octagon {
    &:before {
        content: $icon-octagon;
    }
}
.icon-package {
    &:before {
        content: $icon-package;
    }
}
.icon-paperclip {
    &:before {
        content: $icon-paperclip;
    }
}
.icon-pause {
    &:before {
        content: $icon-pause;
    }
}
.icon-pause-circle {
    &:before {
        content: $icon-pause-circle;
    }
}
.icon-percent {
    &:before {
        content: $icon-percent;
    }
}
.icon-pie-chart {
    &:before {
        content: $icon-pie-chart;
    }
}
.icon-play {
    &:before {
        content: $icon-play;
    }
}
.icon-play-circle {
    &:before {
        content: $icon-play-circle;
    }
}
.icon-plus {
    &:before {
        content: $icon-plus;
    }
}
.icon-plus-circle {
    &:before {
        content: $icon-plus-circle;
    }
}
.icon-plus-square {
    &:before {
        content: $icon-plus-square;
    }
}
.icon-pocket {
    &:before {
        content: $icon-pocket;
    }
}
.icon-power {
    &:before {
        content: $icon-power;
    }
}
.icon-printer {
    &:before {
        content: $icon-printer;
    }
}
.icon-radio {
    &:before {
        content: $icon-radio;
    }
}
.icon-refresh-ccw {
    &:before {
        content: $icon-refresh-ccw;
    }
}
.icon-refresh-cw {
    &:before {
        content: $icon-refresh-cw;
    }
}
.icon-repeat {
    &:before {
        content: $icon-repeat;
    }
}
.icon-rewind {
    &:before {
        content: $icon-rewind;
    }
}
.icon-rotate-ccw {
    &:before {
        content: $icon-rotate-ccw;
    }
}
.icon-rotate-cw {
    &:before {
        content: $icon-rotate-cw;
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-send {
    &:before {
        content: $icon-send;
    }
}
.icon-server {
    &:before {
        content: $icon-server;
    }
}
.icon-settings {
    &:before {
        content: $icon-settings;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}
.icon-share-2 {
    &:before {
        content: $icon-share-2;
    }
}
.icon-shield {
    &:before {
        content: $icon-shield;
    }
}
.icon-shopping-bag {
    &:before {
        content: $icon-shopping-bag;
    }
}
.icon-shopping-cart {
    &:before {
        content: $icon-shopping-cart;
    }
}
.icon-shuffle {
    &:before {
        content: $icon-shuffle;
    }
}
.icon-sidebar {
    &:before {
        content: $icon-sidebar;
    }
}
.icon-skip-back {
    &:before {
        content: $icon-skip-back;
    }
}
.icon-skip-forward {
    &:before {
        content: $icon-skip-forward;
    }
}
.icon-slash {
    &:before {
        content: $icon-slash;
    }
}
.icon-smartphone {
    &:before {
        content: $icon-smartphone;
    }
}
.icon-speaker {
    &:before {
        content: $icon-speaker;
    }
}
.icon-star {
    &:before {
        content: $icon-star;
    }
}
.icon-stop-circle {
    &:before {
        content: $icon-stop-circle;
    }
}
.icon-sun {
    &:before {
        content: $icon-sun;
    }
}
.icon-sunrise {
    &:before {
        content: $icon-sunrise;
    }
}
.icon-sunset {
    &:before {
        content: $icon-sunset;
    }
}
.icon-tag {
    &:before {
        content: $icon-tag;
    }
}
.icon-target {
    &:before {
        content: $icon-target;
    }
}
.icon-terminal {
    &:before {
        content: $icon-terminal;
    }
}
.icon-thermometer {
    &:before {
        content: $icon-thermometer;
    }
}
.icon-thumbs-down {
    &:before {
        content: $icon-thumbs-down;
    }
}
.icon-thumbs-up {
    &:before {
        content: $icon-thumbs-up;
    }
}
.icon-trash {
    &:before {
        content: $icon-trash;
    }
}
.icon-trash-2 {
    &:before {
        content: $icon-trash-2;
    }
}
.icon-trending-down {
    &:before {
        content: $icon-trending-down;
    }
}
.icon-trending-up {
    &:before {
        content: $icon-trending-up;
    }
}
.icon-triangle {
    &:before {
        content: $icon-triangle;
    }
}
.icon-truck {
    &:before {
        content: $icon-truck;
    }
}
.icon-tv {
    &:before {
        content: $icon-tv;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-umbrella {
    &:before {
        content: $icon-umbrella;
    }
}
.icon-unlock {
    &:before {
        content: $icon-unlock;
    }
}
.icon-upload {
    &:before {
        content: $icon-upload;
    }
}
.icon-upload-cloud {
    &:before {
        content: $icon-upload-cloud;
    }
}
.icon-user {
    &:before {
        content: $icon-user;
    }
}
.icon-user-check {
    &:before {
        content: $icon-user-check;
    }
}
.icon-user-minus {
    &:before {
        content: $icon-user-minus;
    }
}
.icon-user-plus {
    &:before {
        content: $icon-user-plus;
    }
}
.icon-user-x {
    &:before {
        content: $icon-user-x;
    }
}
.icon-users {
    &:before {
        content: $icon-users;
    }
}
.icon-watch {
    &:before {
        content: $icon-watch;
    }
}
.icon-wifi {
    &:before {
        content: $icon-wifi;
    }
}
.icon-wind {
    &:before {
        content: $icon-wind;
    }
}
.icon-x {
    &:before {
        content: $icon-x;
    }
}
.icon-x-circle {
    &:before {
        content: $icon-x-circle;
    }
}
.icon-x-square {
    &:before {
        content: $icon-x-square;
    }
}
.icon-youtube {
    &:before {
        content: $icon-youtube;
    }
}
.icon-zoom-in {
    &:before {
        content: $icon-zoom-in;
    }
}
.icon-zoom-out {
    &:before {
        content: $icon-zoom-out;
    }
}
