/* stylelint-disable */
$icomoon-font-path: "../fonts" !default;

$icon-activity: "\e900";
$icon-alert-circle: "\e901";
$icon-alert-octagon: "\e902";
$icon-alert-triangle: "\e903";
$icon-arrow-down: "\e904";
$icon-arrow-down-left: "\e905";
$icon-arrow-down-right: "\e906";
$icon-arrow-left: "\e907";
$icon-arrow-right: "\e908";
$icon-arrow-up: "\e909";
$icon-arrow-up-left: "\e90a";
$icon-arrow-up-right: "\e90b";
$icon-award: "\e90c";
$icon-bar-chart: "\e90d";
$icon-bar-chart-2: "\e90e";
$icon-bell: "\e90f";
$icon-bookmark: "\e911";
$icon-briefcase: "\e910";
$icon-calendar: "\e916";
$icon-check: "\e917";
$icon-check-circle: "\e918";
$icon-check-square: "\e919";
$icon-chevron-down: "\e91a";
$icon-chevron-left: "\e91b";
$icon-chevron-right: "\e91c";
$icon-chevron-up: "\e91d";
$icon-clock: "\e91e";
$icon-cloud: "\e91f";
$icon-cloud-drizzle: "\e920";
$icon-cloud-lightning: "\e921";
$icon-cloud-rain: "\e922";
$icon-cloud-snow: "\e923";
$icon-delete: "\e924";
$icon-edit-2: "\e925";
$icon-flag: "\e926";
$icon-folder: "\e927";
$icon-heart: "\e928";
$icon-help-circle: "\e929";
$icon-home: "\e915";
$icon-info: "\e92a";
$icon-lock: "\e92b";
$icon-log-in: "\e92c";
$icon-log-out: "\e92d";
$icon-mail: "\e92e";
$icon-message-circle: "\e912";
$icon-message-square: "\e913";
$icon-minus-circle: "\e92f";
$icon-moon: "\e930";
$icon-more-vertical: "\e931";
$icon-percent: "\e932";
$icon-pie-chart: "\e933";
$icon-plus: "\e934";
$icon-plus-circle: "\e935";
$icon-search: "\e936";
$icon-settings: "\e937";
$icon-tag: "\e938";
$icon-thermometer: "\e939";
$icon-thumbs-down: "\e93a";
$icon-thumbs-up: "\e93b";
$icon-trending-down: "\e93c";
$icon-trending-up: "\e93d";
$icon-upload: "\e93e";
$icon-upload-cloud: "\e93f";
$icon-user: "\e914";
$icon-x: "\e940";
$icon-x-circle: "\e941";
$icon-x-square: "\e942";
$icon-zap: "\e943";
$icon-fire: "\e9a9";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-man: "\e9dc";
$icon-happy: "\e9df";
$icon-smile: "\e9e1";
$icon-tongue: "\e9e3";
$icon-sad: "\e9e5";
$icon-wink: "\e9e7";
$icon-grin: "\e9e9";
$icon-confused: "\e9f5";
$icon-neutral: "\e9f7";
$icon-hipster: "\e9f9";
$icon-sleepy: "\e9fd";
$icon-crying: "\ea01";
$icon-warning: "\ea07";
$icon-cancel-circle: "\ea0d";
$icon-loop2: "\ea2e";

@font-face {
  font-family: 'fitness';
  src:  url('#{$icomoon-font-path}/fitness.eot?bw11xi');
  src:  url('#{$icomoon-font-path}/fitness.eot?bw11xi#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/fitness.ttf?bw11xi') format('truetype'),
    url('#{$icomoon-font-path}/fitness.woff?bw11xi') format('woff'),
    url('#{$icomoon-font-path}/fitness.svg?bw11xi#fitness') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-activity {
  &:before {
    content: $icon-activity;
  }
}
.icon-alert-circle {
  &:before {
    content: $icon-alert-circle;
  }
}
.icon-alert-octagon {
  &:before {
    content: $icon-alert-octagon;
  }
}
.icon-alert-triangle {
  &:before {
    content: $icon-alert-triangle;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-down-left {
  &:before {
    content: $icon-arrow-down-left;
  }
}
.icon-arrow-down-right {
  &:before {
    content: $icon-arrow-down-right;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-up-left {
  &:before {
    content: $icon-arrow-up-left;
  }
}
.icon-arrow-up-right {
  &:before {
    content: $icon-arrow-up-right;
  }
}
.icon-award {
  &:before {
    content: $icon-award;
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart;
  }
}
.icon-bar-chart-2 {
  &:before {
    content: $icon-bar-chart-2;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.icon-check-square {
  &:before {
    content: $icon-check-square;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud;
  }
}
.icon-cloud-drizzle {
  &:before {
    content: $icon-cloud-drizzle;
  }
}
.icon-cloud-lightning {
  &:before {
    content: $icon-cloud-lightning;
  }
}
.icon-cloud-rain {
  &:before {
    content: $icon-cloud-rain;
  }
}
.icon-cloud-snow {
  &:before {
    content: $icon-cloud-snow;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-edit-2 {
  &:before {
    content: $icon-edit-2;
  }
}
.icon-flag {
  &:before {
    content: $icon-flag;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-help-circle {
  &:before {
    content: $icon-help-circle;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-log-in {
  &:before {
    content: $icon-log-in;
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-message-circle {
  &:before {
    content: $icon-message-circle;
  }
}
.icon-message-square {
  &:before {
    content: $icon-message-square;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-moon {
  &:before {
    content: $icon-moon;
  }
}
.icon-more-vertical {
  &:before {
    content: $icon-more-vertical;
  }
}
.icon-percent {
  &:before {
    content: $icon-percent;
  }
}
.icon-pie-chart {
  &:before {
    content: $icon-pie-chart;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-tag {
  &:before {
    content: $icon-tag;
  }
}
.icon-thermometer {
  &:before {
    content: $icon-thermometer;
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down;
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}
.icon-trending-down {
  &:before {
    content: $icon-trending-down;
  }
}
.icon-trending-up {
  &:before {
    content: $icon-trending-up;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-upload-cloud {
  &:before {
    content: $icon-upload-cloud;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-x {
  &:before {
    content: $icon-x;
  }
}
.icon-x-circle {
  &:before {
    content: $icon-x-circle;
  }
}
.icon-x-square {
  &:before {
    content: $icon-x-square;
  }
}
.icon-zap {
  &:before {
    content: $icon-zap;
  }
}
.icon-fire {
  &:before {
    content: $icon-fire;
  }
}
.icon-star-empty {
  &:before {
    content: $icon-star-empty;
  }
}
.icon-star-full {
  &:before {
    content: $icon-star-full;
  }
}
.icon-man {
  &:before {
    content: $icon-man;
  }
}
.icon-happy {
  &:before {
    content: $icon-happy;
  }
}
.icon-smile {
  &:before {
    content: $icon-smile;
  }
}
.icon-tongue {
  &:before {
    content: $icon-tongue;
  }
}
.icon-sad {
  &:before {
    content: $icon-sad;
  }
}
.icon-wink {
  &:before {
    content: $icon-wink;
  }
}
.icon-grin {
  &:before {
    content: $icon-grin;
  }
}
.icon-confused {
  &:before {
    content: $icon-confused;
  }
}
.icon-neutral {
  &:before {
    content: $icon-neutral;
  }
}
.icon-hipster {
  &:before {
    content: $icon-hipster;
  }
}
.icon-sleepy {
  &:before {
    content: $icon-sleepy;
  }
}
.icon-crying {
  &:before {
    content: $icon-crying;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-cancel-circle {
  &:before {
    content: $icon-cancel-circle;
  }
}
.icon-loop2 {
  &:before {
    content: $icon-loop2;
  }
}