.overview__container {
    min-height: calc(100vh - 80px);
    font-family: 'Source Sans Pro';

    h3 {
        font-size: 1.3rem;
        color: $curious-blue;
    }

    .overview {
        margin: 40px auto;
        display: flex;
        justify-content: space-between;

        @include less-than-ipad {
            display: block;
        }

        &--body {
            padding: 20px;
        }

        &--box {
            display: inline-block;
            position: relative;
            width: 31%;
            border: 1px solid $athens-gray;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            background: $white;
            text-align: center;
            overflow: hidden;

            &.xl {
                width: 100%;
            }

            &.lg {
                width: 62%;
            }

            @include less-than-ipad {
                width: 100%;
                display: block;
                margin: 30px 0;
            }

            .overview--head {
                display: flex;
                background: $header-gray;
                border-bottom: 1px solid $athens-gray;
                justify-content: space-between;
                padding: 15px;
                /* stylelint-disable */
                &.defecit {
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;

                    i {
                        color: $flush-orange;
                    }
                }

                &.surplus {
                    i {
                        color: $lima;
                    }
                }

                h4 {
                    font-weight: normal;
                    display: inline-flex;
                    width: fit-content;
                    margin: 0;
                    font-size: 20px;
                }
            }

            h1,
            span {
                display: inline-block;
            }

            h1 {
                font-size: 8rem;
                color: $waikawa-gray;
                margin-bottom: 0;
            }

            h3 {
                font-size: 2rem;
                text-transform: uppercase;
                color: $oxford-blue;
            }
        }
    }
}
