.overview__container {
    min-height: calc(100vh - 80px);
    font-family: 'Source Sans Pro';

    h3 {
        font-size: 1.3rem;
        color: $cold-purple;
    }

    .overview {
        margin: 40px auto;
        display: flex;
        justify-content: space-between;

        @include less-than-ipad {
            display: block;
        }

        &--box {
            display: inline-block;
            position: relative;
            width: 31%;
            border: 1px solid $athens-gray;
            border-radius: 4px;
            background: $white;
            text-align: center;
            overflow: hidden;

            @include less-than-ipad {
                width: 100%;
                display: block;
                margin: 30px 0;
            }

            .overview--breakdown {
                display: flex;
                border-top: 1px solid $athens-gray;
                background: $athens-gray-alt;
                padding: 10px 20px;
                min-height: 30%;

                &-exercise {
                    padding: 10px;
                    display: inline-block;

                    h4 {
                        margin: 0;
                        padding: 5px 0;
                        text-align: left;
                        font-size: 30px;
                        position: relative;
                    }

                    span {
                        width: 100%;
                        padding: 5px 0;
                        color: $regent-gray;
                        font-size: 16px;
                        text-transform: uppercase;
                        text-align: left;
                    }
                }
            }

            .overview--head {
                display: flex;
                justify-content: space-between;
                padding: 24px;

                h4 {
                    font-weight: normal;
                    display: inline-flex;
                    width: fit-content;
                    margin: 0;
                    font-size: 20px;

                    &.percentage {
                        &.positive {
                            color: $lima;
                        }

                        &.negative {
                            color: $flush-orange;
                        }
                    }
                }
            }

            h1,
            span {
                display: inline-block;
            }

            span {
                font-size: 4rem;
                padding-left: 5px;
                color: $cold-purple;
            }

            h1 {
                font-size: 8rem;
                color: $waikawa-gray;
                margin-bottom: 0;
            }

            h3 {
                font-size: 2rem;
                text-transform: uppercase;
                color: $oxford-blue;
            }
        }
    }
}
