@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    position: relative;
    font: $primary-font;
    font-family: 'Source Sans Pro', serif;
    background: $alabaster;
    color: $limed-spruce;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.overview,
.nutrition,
.reports,
.calendar,
.settings {
    padding: 125px 30px 30px 295px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
