.navbar {
    font-family: 'Source Sans Pro', serif;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: $white;
    color: $mirage;
    border-bottom: 1px solid rgb(219, 219, 219);
    z-index: 999;

    &__menu {
        margin: 0;
        vertical-align: text-bottom;
        display: inline-block;
        list-style: none;
        font-size: 16px;
        padding: 15px 0;

        &.active {
            width: 100%;
            text-align: center;
            opacity: 1;
            transform: scaleY(1);
            transition: transform 0.3s cubic-bezier(0.01, 0.03, 0.29, 1.17), opacity 0.2s;
            transform-origin: top;
            color: $curious-blue;
        }

        a {
            display: inline-block;
            padding: 0 20px;
            cursor: pointer;
            transition: opacity 0.2s;

            i {
                display: none;
            }

            li.active {
                color: $burnt-sienna;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        li {
            display: inline-block;
            box-sizing: border-box;
            padding: 0 30px;
            text-align: left;
            cursor: pointer;
            transition: opacity 0.2s;

            &.active {
                color: $burnt-sienna;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
    /* stylelint-disable */
    .login__button,
    .logout__button {
        float: right;
    }

    .login__button {
        margin: 20px 30px;
    }

    .greeting {
        float: right;
        padding: 0 20px;
        display: inline-flex;
        height: 100%;
        align-items: center;
        cursor: pointer;

        div {
            display: flex;
            align-items: center;
        }

        img {
            height: 40px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
        }

        i {
            display: inline-block;
            vertical-align: top;
            padding: 20px 5px;
        }
    }
}
