.navbar {
    font-family: 'Source Sans Pro', serif;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: $white;
    color: $mirage;
    border-bottom: 1px solid rgb(219, 219, 219);
    z-index: 999;

    .hamburger {
        position: absolute;
        display: none;
        top: 2px;
        right: 0;
        width: 30px;
        padding: 20px 25px;

        @include less-than-ipad {
            display: block;
            z-index: 2;
        }

        div {
            position: relative;
            margin: 7px 0;
            height: 3px;
            background: $burnt-sienna;
            border-radius: 5px;
            transition: all 200ms ease-out;

            &:nth-child(2) {
                width: 65%;
            }
        }
    }

    &__menu {
        margin: 0;
        vertical-align: text-bottom;
        display: inline-block;
        list-style: none;
        font-size: 16px;
        padding: 15px 0;

        &.active {
            width: 100%;
            text-align: center;
            opacity: 1;
            transform: scaleY(1);
            transition: transform 0.3s cubic-bezier(0.01, 0.03, 0.29, 1.17), opacity 0.2s;
            transform-origin: top;
            color: $curious-blue;
        }

        @include less-than-ipad {
            height: 100vh;
            float: none;
            background: $white;

            a {
                &:first-child {
                    margin-top: 50px;
                    padding: 30px 10px;
                    border-bottom: 1px solid $catskill-white;
                }

                &:nth-child(2) {
                    padding-top: 30px;
                }

                &:last-child {
                    border-bottom: 1px solid $catskill-white;
                    padding-bottom: 30px;
                }
            }
        }

        a {
            display: inline-block;
            padding: 0 20px;
            cursor: pointer;
            transition: opacity 0.2s;

            i {
                display: none;
            }

            li.active {
                color: $burnt-sienna;
            }

            &:hover {
                opacity: 0.8;
            }

            @include less-than-ipad {
                display: block;
                padding: 20px 10px;
                text-align: left;

                i {
                    display: block;
                    float: right;
                    font-size: 25px;
                }
            }
        }

        &.collapsed {
            text-align: center;
            transform: scaleY(0);
            transition: transform 0.3s cubic-bezier(0.71, 0.02, 0.9, 0.23), opacity 0.1s;
            transform-origin: top;

            @include less-than-ipad {
                transition: transform 0.1s cubic-bezier(0.71, 0.02, 0.9, 0.23), opacity 0.1s;
            }
        }

        li {
            display: inline-block;
            box-sizing: border-box;
            padding: 0 30px;
            text-align: left;
            cursor: pointer;
            transition: opacity 0.2s;

            &.active {
                color: $burnt-sienna;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
    /* stylelint-disable */
    .login__button,
    .logout__button {
        float: right;
    }

    .login__button {
        margin: 20px 30px;

        &.loading {
            margin: 15px 30px;
            display: inline-flex;
            align-items: center;

            div {
                height: 50px;
                width: 50px;
                border-radius: 50%;

                @include placeholder;
            }
        }
    }

    .greeting {
        float: right;
        padding: 0 20px;
        display: inline-flex;
        height: 100%;
        align-items: center;
        cursor: pointer;
        border-left: 1px solid #dbdbdb;

        div {
            display: flex;
            align-items: center;
        }

        img {
            height: 40px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
        }

        i {
            display: inline-block;
            vertical-align: top;
            padding: 20px 5px;
        }
    }
}
