.nutrition {
    h3 {
        font-size: 20px;
        color: $cold-purple;
    }

    &__overview {
        margin: 40px 0;
        display: flex;
        justify-content: space-between;

        &--box {
            display: inline-block;
            height: 270px;
            width: 31%;
            border: 1px solid $mystic;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            background: $white;
            text-align: center;

            h1,
            span {
                display: inline-block;
            }

            span {
                font-size: 50px;
                padding-left: 5px;
                color: $cold-purple;
            }

            h1 {
                font-size: 100px;
                color: $waikawa-gray;
                margin-bottom: 0;
            }

            h3 {
                font-size: 25px;
                text-transform: uppercase;
                color: $cold-purple;
            }
        }

        &--calories {
            position: relative;
            display: inline-block;
            height: 450px;
            width: 49%;
            border: 1px solid $mystic;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            background: $white;
            text-align: center;

            h3 {
                padding: 15px 30px;
                font-size: 25px;
                text-align: left;
                margin-bottom: 0;
            }

            span {
                top: 270px;
                position: absolute;
                font-size: 20px;
                color: $cold-purple;
                left: 0;
                right: 0;
            }
        }

        &--head {
            width: 60%;
            margin: 20px auto;
        }
    }

    &__add {
        display: inline-block;
        height: 300px;
        width: 100%;
        border: 1px solid $mystic;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background: $white;
    }
}