.nutrition {
    h3 {
        font-size: 20px;
        color: rgb(0, 132, 137);
    }

    &__overview {
        &--calories,
        &--meals {
            position: relative;
            display: inline-block;
            height: 425px;
            width: 48%;
            border: 1px solid $athens-gray;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            background: $white;
            text-align: center;

            @include less-than-ipad {
                width: 100%;
                display: block;
                margin: 30px 0;
            }

            h3,
            h4 {
                padding: 5px 30px 15px 30px;
                color: $limed-spruce;
                font-size: 25px;
                text-align: left;
                margin-bottom: 0;
                font-weight: normal;
            }

            span.subhead {
                top: 270px;
                position: absolute;
                font-size: 20px;
                color: $cold-purple;
                left: 0;
                right: 0;
            }
        }

        &--head {
            width: 70%;
            margin: 20px auto;
        }

        &--meals {
            h4 {
                color: $cold-purple;
                padding: 0 30px;
                font-size: 25px;
                text-align: left;
                margin: 0;
            }

            .add__meal {
                &--input {
                    display: flex;
                    padding: 5px 30px;
                    justify-content: space-between;
                }

                &--save {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        &--meal {
            display: flex;

            div {
                display: inline-flex;
                justify-content: space-between;
                padding: 25px;
                font-size: 17px;
                font-weight: bold;
                border-top: 1px solid $athens-gray;
                border-bottom: 1px solid $athens-gray;
                box-sizing: border-box;

                &.name {
                    width: 40%;
                    text-align: left;
                }

                &.calories,
                &.protein,
                &.fat,
                &.carbs {
                    width: 15%;
                }
            }

            &:nth-child(even) {
                background: $mystic;
            }
        }
    }
}
