/* stylelint-disable */
// Colors
$regent-gray: #7f8fa4;
$tower-gray: #a4bcc2;
$catskill-white: #ecf1f6;
$aqua-haze: #f4f7f8;
$alabaster: #f9f9f9;
$mystic: #e6edef;
$cascade: #8da4aa;
$curious-blue: #269bda;
$picton-blue: #42a9e0;
$limed-spruce: #3d575d;
$punch: #dd4b39;
$polar: #f6fafd;
$spindle: #c3dbee;
$submarine: #b8bfc6;
$white: #ffffff;
$black: #000000;
$fiord: #415960;
$geyser: #d9e0e7;
$java: #27bcbb;
$my-sin: #fcb01d;
$silver-chalice: #a6a6a6;
$lima: #3fc529;
$oxford-blue: #354052;

$flush-orange: #ff7800;
$burnt-sienna: #ed5454;
$cold-purple: #a2a7d9;
$medium-purple: #8e81e3;
$waikawa-gray: #5e639a;
$athens-gray: #e6eaee;
$froly: #f5729c;
$malibu: #7bd4f8;
$aquamarine: #55f3b3;
$athens-gray-alt: #fafbfc;
$mirage:#1b2431;
// Font
$primary-font: normal 14px/21px 'Open Sans', sans-serif;

// Media Query Breakpoints
$bp-xl-desktop: 2000px;
$bp-lg-desktop: 1600px;
$bp-md-desktop: 1200px;
$bp-tab-land: 1024px;
$bp-tab-port: 768px;
$bp-fablet: 414px;
$bp-phone: 375px;
